In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('eda_data.csv')

In [15]:
df['job_simp'].value_counts()

data scientist    279
na                184
data engineer     119
analyst           102
mle                22
manager            22
director           14
Name: job_simp, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le = LabelEncoder()

In [18]:
df['job_simp']= le.fit_transform(df['job_simp'])

In [19]:
df['job_simp'].value_counts()

2    279
6    184
1    119
0    102
4     22
5     22
3     14
Name: job_simp, dtype: int64

In [21]:
df['seniority']= le.fit_transform(df['seniority'])
df['seniority'].value_counts()

1    520
2    220
0      2
Name: seniority, dtype: int64

In [22]:
df['job_state'].value_counts()

CA    152
MA    103
NY     72
VA     41
IL     40
MD     35
PA     33
TX     28
WA     21
NC     21
NJ     17
FL     16
OH     14
TN     13
DC     11
CO     11
IN     10
WI     10
UT     10
MO      9
AZ      9
AL      8
GA      6
MI      6
KY      6
DE      6
IA      5
CT      5
LA      4
NE      4
OR      4
KS      3
NM      3
MN      2
ID      2
SC      1
RI      1
Name: job_state, dtype: int64

In [23]:
df['job_state']= le.fit_transform(df['job_state'])
df['job_state'].value_counts()

2     152
16    103
25     72
34     41
11     40
17     35
28     33
32     28
35     21
21     21
23     17
7      16
26     14
31     13
3      11
5      11
36     10
12     10
33     10
1       9
20      9
0       8
14      6
8       6
6       6
18      6
9       5
4       5
22      4
15      4
27      4
24      3
13      3
19      2
10      2
29      1
30      1
Name: job_state, dtype: int64

In [24]:
df['Revenue'].value_counts()

Unknown / Non-Applicable            203
$10+ billion (USD)                  124
$100 to $500 million (USD)           91
$1 to $2 billion (USD)               60
$500 million to $1 billion (USD)     57
$50 to $100 million (USD)            46
$25 to $50 million (USD)             40
$2 to $5 billion (USD)               39
$10 to $25 million (USD)             32
$5 to $10 billion (USD)              19
$5 to $10 million (USD)              18
$1 to $5 million (USD)                8
Less than $1 million (USD)            4
-1                                    1
Name: Revenue, dtype: int64

In [25]:
df['Revenue']= le.fit_transform(df['Revenue'])
df['Revenue'].value_counts()

13    203
3     124
4      91
0      60
10     57
9      46
6      40
5      39
2      32
7      19
8      18
1       8
12      4
11      1
Name: Revenue, dtype: int64

In [27]:
df['Sector'].value_counts()

Information Technology                180
Biotech & Pharmaceuticals             112
Business Services                      97
Insurance                              69
Health Care                            49
Finance                                42
Manufacturing                          34
Aerospace & Defense                    25
Education                              23
Retail                                 15
Oil, Gas, Energy & Utilities           14
Government                             11
-1                                     10
Non-Profit                              9
Real Estate                             8
Transportation & Logistics              8
Travel & Tourism                        8
Media                                   6
Telecommunications                      6
Arts, Entertainment & Recreation        4
Consumer Services                       4
Construction, Repair & Maintenance      3
Mining & Metals                         3
Accounting & Legal                      1
Agriculture & Forestry                  1
Name: Sector, dtype: int64

In [28]:
df['Sector']= le.fit_transform(df['Sector'])
df['Sector'].value_counts()

13    180
5     112
6      97
14     69
12     49
10     42
15     34
2      25
9      23
21     15
19     14
11     11
0      10
18      9
20      8
23      8
24      8
16      6
22      6
8       4
4       4
7       3
17      3
1       1
3       1
Name: Sector, dtype: int64

In [29]:
df['Industry'].value_counts()

Biotech & Pharmaceuticals                   112
Insurance Carriers                           63
Computer Hardware & Software                 59
IT Services                                  50
Health Care Services & Hospitals             49
Enterprise Software & Network Solutions      42
Consulting                                   29
Internet                                     29
Aerospace & Defense                          25
Advertising & Marketing                      25
Consumer Products Manufacturing              20
Research & Development                       19
Colleges & Universities                      16
Energy                                       14
Banks & Credit Unions                        12
Federal Agencies                             11
-1                                           10
Staffing & Outsourcing                       10
Travel Agencies                               8
Real Estate                                   8
Financial Analytics & Research                8
Lending                                       8
Food & Beverage Manufacturing                 8
Security Services                             7
Insurance Agencies & Brokerages               6
Religious Organizations                       6
Department, Clothing, & Shoe Stores           6
Investment Banking & Asset Management         5
Logistics & Supply Chain                      4
Gambling                                      4
Telecommunications Services                   4
Architectural & Engineering Services          4
K-12 Education                                4
Financial Transaction Processing              4
Gas Stations                                  4
Industrial Manufacturing                      4
Construction                                  3
Education Training Services                   3
Consumer Product Rental                       3
Wholesale                                     3
Video Games                                   3
Stock Exchanges                               3
Transportation Management                     3
Social Assistance                             3
Metals Brokers                                2
Sporting Goods Stores                         2
TV Broadcast & Cable Networks                 2
Telecommunications Manufacturing              2
Brokerage Services                            2
Motion Picture Production & Distribution      1
Auctions & Galleries                          1
Health Care Products Manufacturing            1
Mining                                        1
Farm Support Services                         1
Transportation Equipment Manufacturing        1
Accounting                                    1
Other Retail Stores                           1
Beauty & Personal Accessories Stores          1
Trucking                                      1
Health, Beauty, & Fitness                     1
Name: Industry, dtype: int64

In [30]:
df['Industry']= le.fit_transform(df['Industry'])
df['Industry'].value_counts()

8     112
33     63
11     59
30     50
28     49
19     42
34     29
13     29
3      25
2      25
15     20
45     19
10     16
18     14
6      12
21     11
49     10
0      10
43      8
56      8
22      8
24      8
37      8
46      7
44      6
16      6
32      6
35      5
53      4
36      4
4       4
31      4
26      4
25      4
23      4
38      4
17      3
47      3
55      3
58      3
50      3
59      3
14      3
12      3
51      2
48      2
52      2
39      2
9       2
1       1
29      1
41      1
7       1
5       1
54      1
27      1
40      1
57      1
20      1
42      1
Name: Industry, dtype: int64

In [31]:
df['Size'].value_counts()

1001 to 5000 employees     150
501 to 1000 employees      134
10000+ employees           130
201 to 500 employees       117
51 to 200 employees         94
5001 to 10000 employees     76
1 to 50 employees           31
Unknown                      9
-1                           1
Name: Size, dtype: int64

In [32]:
df['Size']= le.fit_transform(df['Size'])
df['Size'].value_counts()

3    150
6    134
2    130
4    117
7     94
5     76
1     31
8      9
0      1
Name: Size, dtype: int64

In [33]:
df['Type of ownership'].value_counts()

Company - Private                 410
Company - Public                  193
Nonprofit Organization             55
Subsidiary or Business Segment     34
Hospital                           15
Government                         15
College / University               13
Other Organization                  3
School / School District            2
Unknown                             1
-1                                  1
Name: Type of ownership, dtype: int64

In [34]:
df['Type of ownership']= le.fit_transform(df['Type of ownership'])
df['Type of ownership'].value_counts()

2     410
3     193
6      55
9      34
4      15
5      15
1      13
7       3
8       2
0       1
10      1
Name: Type of ownership, dtype: int64

In [35]:
df.to_csv('final_data.csv')

In [26]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,age,python_yn,R_yn,spark,aws,excel,job_simp,seniority,desc_len,num_comp
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,47,1,0,0,0,1,2,1,2536,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,36,1,0,0,0,0,2,1,4783,0
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,10,1,0,1,0,1,2,1,3461,0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,55,1,0,0,0,0,2,1,3883,3
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,22,1,0,0,0,1,2,1,2728,3

In [3]:
df_model = df[['avg_salary','Rating','Size','Type of ownership','Industry','Revenue','num_comp','hourly','employer_provided','job_state','same_state','age','python_yn','spark','aws','excel','job_simp','seniority','desc_len']]

In [4]:
df_dum = pd.get_dummies(df_model)

In [11]:
corr_matrix = df.corr()

In [12]:
corr_matrix['avg_salary'].sort_values(ascending=False)

avg_salary           1.000000
max_salary           0.986862
min_salary           0.967765
python_yn            0.327796
spark                0.176559
aws                  0.171379
num_comp             0.093813
desc_len             0.078808
employer_provided    0.076287
age                  0.019655
Rating               0.013492
Founded             -0.015149
same_state          -0.034641
R_yn                -0.040000
Unnamed: 0          -0.041765
excel               -0.057252
hourly              -0.356082
Name: avg_salary, dtype: float64

In [9]:
df_final = df_dum[['python_yn','spark','aws','job_state_CA','job_simp_na','Type of ownership_Nonprofit Organization','seniority_na','hourly','job_simp_analyst']]

In [10]:
df_final.head()

,seniority_senior,job_simp_data scientist,python_yn,job_state_CA,job_simp_na,Type of ownership_Nonprofit Organization,seniority_na,hourly,job_simp_analyst
0,0,1,1,0,0,0,1,0,0
1,0,1,1,0,0,0,1,0,0
2,0,1,1,0,0,0,1,0,0
3,0,1,1,0,0,0,1,0,0
4,0,1,1,0,0,0,1,0,0